<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PGA Statistics</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  
</head>

  <body style="background-color: darkgreen"> 
    
    <div class="container">
      
        <!-- Add Jumbotron to Header -->
      <div class="jumbotron text-center" style="background-color:rgb(10, 10, 10)">
        <h1 style="color:whitesmoke">Sample PGA Tour App</h1>   
      </div>

      <!-- Add sample section 1 -->
      <div class="row" id="pga-section1">

        <div class="col-xs-12 .col-md-8">
          <div class="media">
            <div class="media-body">
              <h2 style="color:black"><u><b>PGA Section 1</b></u></h2>
              <h4 class="media-heading" style="color:whitesmoke" ></h4>
              <p style="color:whitesmoke"></p>
            </div>
          </div>

        </div>

      <br>
      </div>

      <!-- Image Section -->
      <div class="row" id="pga-section2">

        <div class="col-xs-6 .col-md-8">
            <h2 style="color:black"><u><b>Featured PGA Image</b></u></h2>

          <!-- if images is False/None/non-existent, then default to error message -->
          <img
            src="{{mars.featured_image | default('static/images/error.png', true) }}"
            class="img-responsive"
            alt="Responsive image"
          />

        </div>

        <div class=".col-xs-6 .col-med-4">

          <!-- PGA Facts -->
          <div class="row" style="color:whitesmoke; outline-style: dotted; outline-color: black; font-size: 15px" id="pga-facts">
            <h2 style="color:black; border-inline-color: black; border-color: black; outline-color: black;"><u><b>PGA Facts Sample</b></u></h2>
          </div>
          <br>

        </div>

      </div>

      <!-- Sample Section 3 -->
      <div class="row" id="pga-section3">

        <div class="page-header">
            <h2 class="text-center" style="color:black"><u><b>PGA Section 3</b></u></h2>
        </div>
        <div class=".col-xs-12 .col-md-8">
          <div class="thumbnail">
            <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="...">
            <div class="caption">
              <h3></h3>
            </div>
          </div>
        </div>
        

      </div>

    </div>

  </body>

</html>
